[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/tfd"]
	path = libs/tfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "libs/resource-builder"]
	path = libs/resource-builder
	url = https://github.com/funbiscuit/resource-builder.git
