[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/resource-builder"]
	path = libs/resource-builder
	url = https://github.com/funbiscuit/resource-builder.git
[submodule "libs/portable-file-dialogs"]
	path = libs/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
